extends ../layout/index
block contenido
  main.container.mt-5
    .row
      .col-md-5
        img(src="img/nosotros.jpg", alt="Imagen de Nosotros", class="img-fluid")
      .col-md-7
        h1= pagina
        blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dictum neque consequat consectetur faucibus. Maecenas condimentum vitae dolor a dignissim. Mauris eget dolor nulla. Pellentesque neque sapien, tempor at tempor a, vehicula at est. Praesent egestas ex mauris, ac vulputate nisi maximus ac.
        p at semper orci vehicula vitae. Integer gravida pharetra justo vel dignissim. Nunc sed nibh tincidunt, laoreet nulla ac, lacinia risus. Etiam ipsum nulla, elementum ut luctus ut, semper a nunc. Nam fringilla dui aliquet lobortis sagittis. Sed auctor congue nulla id commodo. Sed dignissim est eget efficitur accumsan. Duis laoreet odio scelerisque dignissim ullamcorper. Duis ornare, elit vel placerat blandit, purus dolor efficitur sapien, sit amet commodo
        p at semper orci vehicula vitae. Integer gravida pharetra justo vel dignissim. Nunc sed nibh tincidunt, laoreet nulla ac, lacinia risus. Etiam ipsum nulla, elementum ut luctus ut, semper a nunc. Nam fringilla dui aliquet lobortis sagittis. Sed auctor congue nulla id commodo. Sed dignissim est eget efficitur accumsan. Duis laoreet odio scelerisque dignissim ullamcorper. Duis ornare, elit vel placerat blandit, purus dolor efficitur sapien, sit amet commodos
  .listado-iconos
    .container.mt-5.py-5.text-center
      .row
        .col-md-4
          img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
          h4.mb-4 Seguridad
          p Sed interdum tellus nisi, at semper orci vehicula vitae. Integer gravida pharetra justo vel dignissim. Nunc sed nibh tincidunt, laoreet nulla ac, lacinia risus. Etiam ipsum nulla, elementum ut luctus ut.
        .col-md-4
          img(src="img/icono_destinos.svg", class="img-fluid mb-4")
          h4.mb-4 Mejores Destinos
          p Sed interdum tellus nisi, at semper orci vehicula vitae. Integer gravida pharetra justo vel dignissim. Nunc sed nibh tincidunt, laoreet nulla ac, lacinia risus. Etiam ipsum nulla, elementum ut luctus ut.
        .col-md-4
          img(src="img/icono_precios.svg", class="img-fluid mb-4")
          h4.mb-4 Mejores Precios
          p Sed interdum tellus nisi, at semper orci vehicula vitae. Integer gravida pharetra justo vel dignissim. Nunc sed nibh tincidunt, laoreet nulla ac, lacinia risus. Etiam ipsum nulla, elementum ut luctus ut.